@import "tailwindcss";

@theme {
  --color-primary-900: #0D100C;
  --color-black: #000;
  --color-white: #fff;
  --color-gray-100: #CFCFCF;
  --color-gray-200: #656565;
  --spacing-page: 1220px;
}

@utility h4 {
  @apply font-semibold text-base
}

html {
  height: -webkit-fill-available;
}
body {
  margin: 0;
  padding: 0;
}